h1{
    text-align: center;
}

h3{
    text-align: center;
}

#colors{
    margin: 2rem auto;
    text-align: center;
}

#gamearea{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
}

.card{
    width: 100px;
}

.success{
    opacity: 0.5;
}

#challenge{
    margin-top: 2rem;
    text-align: center;
}

button{
}