h1{
    text-align: center;
}

h3{
    text-align: center;
}

#gamearea{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
}

.card{
    width: 100px;
}

.success{
    opacity: 0.5;
}